html {
	-webkit-font-smoothing: antialiased;
}

body {
	background:white;
	margin:0;
	padding:0;
	font-family:monospace;
	font-size:14px;
}

/* Contain floats: nicolasgallagher.com/micro-clearfix-hack/ */ 
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

#wrapper {
	width:100%;
	height:auto;
}

#header {
	color:white;
	-webkit-box-shadow: rgba(0, 0, 0, 8) 0px 0px 8px;
	background:#3e3e3e;
	height:50px;
	margin:0;
	text-align: center;
}

#title {
	color:#f9149b;
	font-size:30px;
	padding:5px 0px 10px 0px;
}

#main {
	margin:0;
	width:100%;
}

#container {
	background: #777;
}

#controls {
	height:auto;
	margin-left:20px;
}

#demo-frame > div.demo { padding: 0px 10px 10px 10px !important; width:200px; height:20px;}
#slider-range,#entity-range {width:300px;}

.ranges {
	margin-left:20px;
}

#site_search {
	float:right; 
	margin-right:0px;
	margin-top:20px;
}


/* 
 * jQuery-UI elements 
 *
*/
.ui-widget label {
	font-family:monospace;
}

.ui-autocomplete {
	max-height: 100px;
	overflow-y: auto;
	/* prevent horizontal scrollbar */
	overflow-x: hidden;
	/* add padding to account for vertical scrollbar */
	padding-right: 20px;
}

.ui-widget-header {
	background-color: rgba(19, 185, 236,1);
	background-url:none;
}

.ranges input {
	color: rgba(19, 185, 236,1);
}

/**/


#cnv {
	border:1px solid #454545;
	background:white;
	margin-top:30px;
	margin-left:30px;
}

#legend {
	width:200px;
	list-style: none;
	margin:0;
	padding:0;
	z-index:1000;
	position:absolute;
	top:50px;
	left:20px;
	color: white;
}

#legend  li {
	list-style: none;
}

#myTable {
	/*table-layout:fixed;*/
	width:80%;
	margin:auto;
	margin-top:30px;
}


td {
	max-width:500px;
	word-wrap: break-word;
}

.link {
	cursor: pointer;
	float: right;
	margin-right:15px;
}

.link a:hover {
	color:#23b8fe;
}