html {
	-webkit-font-smoothing: antialiased;

}


body {
	background:white;
	margin:0;
	padding:0;
	font-family:monospace;
	font-size:12px;
}

#wrapper {
	width:100%;
	height:auto;
}

#header {
	color:white;
	font-size: 18px;
	-webkit-box-shadow: rgba(0, 0, 0, 8) 0px 0px 8px;
	background:#3e3e3e;
	height:30px;
	margin:0;
}

#main {
	margin:20px;
	width:100%;
}

#container {
	background: #777;
}

/* 
 * jQuery-UI elements 
 *
*/
.ui-widget label {
	font-family:monospace;
	font-size:12px;
}

.ui-autocomplete {
	max-height: 100px;
	overflow-y: auto;
	/* prevent horizontal scrollbar */
	overflow-x: hidden;
	/* add padding to account for vertical scrollbar */
	padding-right: 20px;
}

#controls {
	width:600px;
}

#demo-frame > div.demo { padding: 10px !important; width:200px; height:20px;}
#slider-range {width:300px;}

#site_search {
	float:right; 
	margin-right:0px;
	margin-top:20px;
}




#cnv {
	border:1px solid #454545;
	background:white;
	margin-top:30px;
	margin-left:30px;
}

#legend {
	width:200px;
	list-style: none;
	margin:0;
	padding:0;
	z-index:1000;
	position:absolute;
	top:50px;
	left:20px;
	color: white;
}

#legend  li {
	list-style: none;
}

#myTable {
	/*table-layout:fixed;*/
	width:80%;
	margin:auto;
	margin-top:30px;
}


td {
	max-width:500px;
	word-wrap: break-word;
}

.link {
	cursor: pointer;
	float: right;
	margin-right:15px;
}

.link a:hover {
	color:#23b8fe;
}