.vb {


}

#vibrant_main {
	position:absolute;
	top:0;
	right:0;
	z-index:100000;
	background:#efefef;	
	border: 5px solid white;
	box-shadow: rgba(0, 0, 0, 0.8) 0px 0px 8px;
	-webkit-box-shadow: rgba(0, 0, 0, 8) 0px 0px 8px;
	-moz-border-radius: 0px 0px 10px 10px;
	border-radius: 0px 0px 10px 10px;
	border-top-style: none;
	margin-right: 30px;
	height:auto;
	width:250px;
	clear: both;
	font-family: serif;
	color:black;
	text-align: left;
}

#vb_search_popup {
	display: none;
	background:white;
	z-index:10000;
	width:200px;
	height:auto;
	clear: both;
	font-family: serif;
	color:black;
	text-align: left;
	border: 5px solid white;
	box-shadow: rgba(0, 0, 0, 0.8) 0px 0px 8px;
	-webkit-box-shadow: rgba(0, 0, 0, 8) 0px 0px 8px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border-top-style: none;
	margin-right: 10px;
	font-size: 12px;
	padding-top:8px;
}

#vb_search_list {
	list-style: none;
	margin:5px;
	padding:0;
	word-wrap:break-word;
}

#vb_search_popup a {
	text-decoration: none;
	color:blue;
}

#vb_search_popup li {
	padding-bottom: 5px;
	padding-top:5px;
	border-bottom: 1px solid gray;
}


#vb_recap {
	height:40px;
}

.vb_badge {
	float:right;
	padding: 0;
	margin:5px 10px 10px 10px;
	width:30px;
	height:30px;
	border-radius: 30px;
	-webkit-border-radius: 30px;
	display: block;
	text-align: center;
	font-size: 16px;
	opacity:1;
}

.vb_badge span {
	display: block;
	margin-top: 5px;
}

.vb_recap_scripts, #scriptsHeader {
	background-color: aqua;	
}

.vb_recap_links, #linksHeader {
	background-color: red;	
}

.vb_recap_images, #imagesHeader {
	background-color: teal;	
}

.vb_recap_cookies, #cookiesHeader {
	background-color: yellow;	
}

.vb_recap_frames, #framesHeader {
	background-color: blue;	
}

#vb_list {
	display: none;
}

#vb_list h3 {
	text-transform: capitalize;
	padding:3px;
	margin:3px 0px;
}

#vb_list ol {
	margin:0;
	padding:0;
}

#vb_list li {
	text-decoration: none;
	font-size:11px;
	word-wrap:break-word;
	width:88%;
	margin-left:20px;
	margin-bottom: 5px;
	list-style-position: outside;
	list-style: decimal;
}